.container {
    width: 90%; /* Or any other percentage */
    margin: 0 auto; /* Center the container */
}
@media only screen and (max-width: 600px) {
    /* Styles for screens smaller than 600px */
    .container {
        width: 100%; /* Adjust width to 100% for smaller screens */
    }
    img, video {
    max-width: 100%;
    height: auto;
}
body, html
.welcome h1 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: monospace;
}

#animation {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #062531;
    z-index: 10;
    animation: fadeOut 2s 4s forwards;
}

.welcome {
    
    color: #61dafb;
    text-align: center;
    opacity: 1;
    animation: fadeIn 2s, slideUp 2s 2s forwards;
}



.animated-image {
    size-adjust: 500;
    width: 200px;
    height: auto;
    margin-top: 20px;
    animation: imageMove 4s infinite;
}
.animated-image2 {
    size-adjust: 500;
    width: 200px;
    height: auto;
    margin-top: 20px;
    animation: imageMove 4s infinite;
}

#content {
    display: none;
    padding: 20px;
    animation: showContent 1s 5s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from { transform: translateY(0); }
    to { transform: translateY(-100%); }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes showContent {
    from { display: none; opacity: 0; }
    to { display: block; opacity: 1; }
}

@keyframes imageMove {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}


